@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    

.container-fluid {
    margin-top: 10px;
}

/* media queries h1 */
h1 {
    font: 'Roboto', sans-serif;
    font-size: .7em; 
    
}

 @media only screen and (min-width: 365px) {
h1 {
font-size: 1em;
}
}

@media only screen and (min-width: 450px) {
h1 {
font-size: 1.1em;
}
}


@media only screen and (min-width: 530px) {
h1 {
font-size: 1.5em;
}
}

@media only screen and (min-width: 700px) {
h1 {
font-size: 2em;
}
}

@media only screen and (min-width: 1250px) {
h1 {
font-size: 3em;
}
} 

@media only screen and (min-width: 1550px) {
h1 {
font-size: 3.5em;
}
} 

/* media queries h4 */
h4 {
    font: 'Roboto', sans-serif;
    font-size: 1.1em; 
    
}

 @media only screen and (min-width: 365px) {
h4 {
font-size: 1.1em;
}
}


/* media queries h5 */
h5 {
    font: 'Roboto', sans-serif;
    font-size: .8em; 
    
}

 @media only screen and (min-width: 365px) {
h5 {
font-size: 1em;
}
}

@media only screen and (min-width: 450px) {
h5 {
font-size: 1.1em;
}
}


@media only screen and (min-width: 680px) {
h5 {
font-size: 1.5em;
}
}


@media only screen and (min-width: 980px) {
h5 {
font-size: 0.8em;
}
}

@media only screen and (min-width: 1325px) {
h5 {
font-size: 1em;
}
}

