@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); 
    

.container-fluid {
    margin-top: 10px;
}


@media (min-width: 1000px){
    #logogolf{
    display: none;
}
}

@media (min-width: 1390px){
    #logogolf{
    display: block;
}
}